* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Mukta', sans-serif;
    font-weight: 300;
    color: #000;
    background-color: #D8CB97;
}

/* generic styles */

h1, h2 {
    font-family: 'caviar-dreams', sans-serif;
    color: #1F1E20;
}

a {
    text-decoration: none;
}

/* header */
.header {
    display: none;
}

#smaller-nav {
    display: none;
}

#head-bg {
    background-color: #1F1E20;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
}

#head-bg img {
    height: auto;
    width: 8%;
    padding: 30px;
    float: left;
}

/* navigation list */
#menu {
    font-size: 150%;
    letter-spacing: 2px;
    text-align: right;
    margin-right: 40px;
    line-height: 125px;
}

#menu li {
    display: inline;
    list-style-type: none;
    margin-right: 10px;
}

#menu a  {
    text-decoration: none;
    color: #D8CB97;
}

a.left{
    position: relative;
}

a.left:before {
  content: "";
  position: absolute;
  width: 0;
  margin-top: 20px;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #D8CB97;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.left:hover:before {
    visibility: visible;
    width: 100%;
}

/* hero image */

#hero-outer {
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: auto;
    width: 100%;
    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/* hero image cover text */
#cover-text, #cover-text h2 {
    color: #fff;
}

#cover-text {
    font-size: 100%;
    text-transform: none;
    
    

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(31, 30, 32, 0.64);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

#cover-text h2, a {
    font-family: 'caviar-dreams', sans-serif;
    font-weight: 600;
    color: #D8CB97;
    letter-spacing: 0;
    padding-right: 5px;
    text-transform: none;
}

#cover-text h2 {
    margin-bottom: 25%;
}

#cover-text a {
    font-size: 125%;
    text-transform: uppercase;
}

/* news */

#recent-news {
    height: 850px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

#news  {
    text-align: left;
    margin: 30px 0;
    font-size: 280%;
    text-transform: uppercase;
}

.card-left {
    width: 30%;
    float: left;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: .3s;
    overflow: hidden;
    height: 500px;
    margin-top: 2%;
}

.card-img {
    width: 100%;
    height: 75%;
    position: relative;
    bottom: 60px;
}

.card-right {
    width: 30%;
    overflow: hidden;
    float: right;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: .3s;
    border-radius: 25px;
    height: 500px;
    margin-top: 2%;
}

.card-middle {
    width: 30%;
    overflow: hidden;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: .3s;
    border-radius: 25px;
    height: 500px;
}

.card-left:hover, .card-middle:hover, .card-right:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.541);
}

.news-container {
    padding: 10px 20px;
    position: relative;
    bottom: 60px;
}

.card-a h1 {
    font-size: 130%;
}

.card-a {
    color: #000;
}

.card-a p {
    font-weight: 300;
    font-size: 150%;
    padding-top: 2%;
}

/* contact us section*/
#contact-us {
    height: 325px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    background-color: #1F1E20;
    text-align: center;
    margin-bottom: 15%;
}

#contact-us h1{
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 200%;
    color: #D8CB97;
    text-transform: uppercase;
}

#contact-us h2{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 150%;
    color: #D8CB97;
    text-transform: capitalize;
    letter-spacing: .5px;
}


a.contact-us-btn{
    position: relative;
}

a.contact-us-btn:before {
  content: "";
  position: absolute;
  width: 0;
  margin-top: 20px;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #D8CB97;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.contact-us-btn:hover:before {
    visibility: visible;
    width: 100%;
}


.contact-us-btn {
    font-size: 200%;
    text-transform: uppercase;
}

/* footer */ 

#footer-bg {
    width: 100%;
    background-color: #1F1E20;
    height: 325px;
    position: absolute;
}

#footer-bg img {
    width: 20%;
    padding: 20px 0 0 30px;
    float: left;
}

#footer-menu {
    float: right;
    font-size: 150%;
    letter-spacing: 2px;
    text-align: right;
    margin-right: 40px;
}

#footer-menu li {
    
    list-style-type: none;
    margin-right: 10px;
}

#footer-menu a {
    text-decoration: none;
    color: #D8CB97;
}

#footer-menu h3 {
    text-decoration: none;
    color: #D8CB97;
    font-size: 50%;
    font-family: 'caviar-dreams', sans-serif;
    margin-top: 2.5%;
}

.icon {
    color: #D8CB97;
    font-size: 80%;
    cursor: pointer;
    padding: 2px;
}

/* contact us page */
#contact {
    height: 800px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

.form-wrapper {
    background-color: #1F1E20;
    width: 50%;
    float: left;
    height: 450px;
    margin: 15% 0;
}

.form-wrapper label {
    color: #D8CB97;
}

form {
    padding: 5%;
}

.form-wrapper h1 {
    color: #D8CB97;
    text-transform: uppercase;
    padding-bottom: 5%;
}

.form-wrapper input {
    width: 100%;
}

input {
    border: none;
    border-bottom: 2px solid #D8CB97;
    color: #D8CB97;
    background-color: transparent;
}

input[type=submit] {
    text-transform: uppercase;
    padding: 2%;
    cursor: pointer;
}

textarea {
    resize: none;
    width: 96%;
    background-color: #D8CB97;
    font-family: 'caviar-dreams', sans-serif;
    padding: 2%;
    margin-top: 2%;
}

.form-wrapper p{
    font-size: 75%;
    color: #D8CB97;
    padding-bottom: 2%;
}

/* information section */

.information-wrapper {
    width: 35%;
    float: right;
    height: 450px;
    margin: 15% 0;
    text-align: right;
}

.information-wrapper h1 h3 {
    color: #1F1E20;
}

.information-wrapper h1 {
    font-size: 200%;
    padding: 5% 0;
}

.information-wrapper h3 {
    font-size: 150%;
    font-weight: 300;
}

/* gallery section */

#gallery-section {
    height: 950px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

#gallery-section h2{
    text-transform: uppercase;
    font-size: 200%;
}

.photos {
    clear: both;
    line-height: 40px;
    column-count: 6;
}

.photos > img {
    width: 100%;
}

/* about us page */

#welcome {
    height: 600px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15%;
    width: 90%;
    color: #1F1E20;
}

hr {
    border-top: 3px solid #1F1E20;
    width: 100%;
    margin: 5px 0;
}

.info-left {
    float: left;
    width: 65%;
    height: 400px;
}

.info-left h1 {
    text-transform: uppercase;
    font-size: 200%;
}

.info-left p {
    text-align: justify;
    padding-top: 5%;
}

.info-right {
    float: right;
    width: 35%;
    height: 400px;
    text-align: right;
}

.info-right > img {
    width: 80%;
    height: inherit;
}

/* reviews */
#reviews {
    height: 600px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;   
}

#reviews h1 {
    text-transform: uppercase;
    color: #1F1E20;
    font-size: 200%;
}

#reviews h2 {
    padding: 2% 5% 0 5% ;
    text-align: center;
}

#reviews p {
    padding: 0 5%;
    text-align: left;
}

.review-card-left {
    background-color: #fff;
    width: 30%;
    height: 300px;
    overflow: hidden;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: .3s;
    border-radius: 25px;
    color: #1F1E20;
    
}

.review-card-left >img {
    width: 100%;
    height: 100%;
}

.review-card-right {
    background-color: #fff;
    width: 30%;
    height: 300px;
    overflow: hidden;
    float: right;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: .3s;
    border-radius: 25px;
}

.review-card-middle {
    background-color: #fff;
    width: 30%;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: .3s;
    border-radius: 25px;
}

.review-card-left:hover, .review-card-middle:hover, .review-card-right:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.541);
}

.stars {
    text-align: center;
    padding-top: 5%;
    font-size: 20px;
    color: #D8CB97;
}

/* our menu page */

#our-pizza-menu {
    height: 600px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15%;
    width: 90%;
    overflow: hidden;
}

#our-bbq-menu {
    height: 600px;
    margin: 15% 5%;
    width: 90%;
    
    overflow: hidden;
}

.menu-left{
    float: left;
    width: 50%;
    height: 500px;
}

.menu-right {
    float: right;
    width: 45%;
    height: 500px;
}

#our-pizza-menu h1{
    text-transform: uppercase;
    color: #1F1E20;
    font-size: 200%;
    margin-bottom: 5%;
}


#our-pizza-menu h3{
    text-transform: capitalize;
    color: #1F1E20;
    font-size: 125%;
    font-weight: 400;
    margin-bottom: 5%;
}

#our-bbq-menu h1{
    text-transform: uppercase;
    color: #1F1E20;
    font-size: 200%;
    margin-bottom: 5%;
}

#our-bbq-menu h3 {
    text-transform: capitalize;
    color: #1F1E20;
    font-size: 125%;
    font-weight: 400;
    margin-bottom: 5%; 
}

.menu-table {
    font-size: 150%;
    margin: 5% 0;
}

.padding-left {
    padding-left: 7.5%;
}

.menu-photos {
    clear: both;
    line-height: 40px;
    column-count: 2;
}

.menu-photos > img {
    width: 100%;
}

/* form submission page */
.form-submited {
    position: relative;
    top: 15em;
}

.form-submited-text-wrapped {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.blue-box {
    background-color: #1F1E20;
    padding: 10% 0;
}

.form-submited-text-wrapped h1{
    font-size: 200%;
    font-weight: 800;
    color: #D8CB97;
}

.form-submited-text-wrapped h3 {
    font-size: 100%;
    font-weight: 500;
    color: #D8CB97;
}

.back-btn-wrapped {
    margin-top: 10%;
}

.back-btn {
    font-size: 150%;
}

a.back-btn{
    position: relative;
}

a.back-btn:before {
  content: "";
  position: absolute;
  width: 0;
  margin-top: 20px;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #D8CB97;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.back-btn:hover:before {
    visibility: visible;
    width: 100%;
}
/* 404 section */
#error-section {
    height: 600px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15%;
    width: 90%;
    overflow: hidden;
}

.error-wrapped {
    display: flex;
    flex-direction: row;
}

.error-left {
    float: left;
    width: 50%;
    height: 500px;
    padding-top: 5em;
}

.error-right {
    float: right;
    width: 50%;
    height: 500px;
    padding-top: 5em;
}

.error-right img {
    width: 100%;
}

#oh-no{
    color: #1F1E20;
    padding-bottom: 0.5em;
    font-size: 5em;
}

#error-s-text {
    color: #1F1E20;
    padding-bottom: 1.5em;
    padding-right: 8em;
    font-size: 2em;
}

a.start-over-btn{
    position: relative;
}

a.start-over-btn:before {
  content: "";
  position: absolute;
  width: 0;
  margin-top: 20px;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #1F1E20;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.start-over-btn:hover:before {
    visibility: visible;
    width: 100%;
}


.start-over-btn {
    font-size: 200%;
    text-transform: uppercase;
    color: #1F1E20 !important;
}

/* responsiveness */
/* for large screens sizes from 1200px and down */
@media screen and (max-width: 1100px) {
    /* footer */
    #footer-bg img {
        height: 60%;
    }

    /* homepage */
    #cover-text {
        right: 70px;
    }

    /* our menu page */
    #our-pizza-menu {
        margin-top: 10%;
    }

    #our-bbq-menu {
        margin-top: 10%;
    }

    /* about us */
    #welcome {
        margin-top: 10%;
    }

    #reviews {
        height: 550px;
    }

    /* contact us */
    #gallery-section {
        height: 900px;
    }

    
}

/* for medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {
    /* heading */
    #head-bg img {
        padding-top: 30px;
    }

    #menu {
        line-height: 100px;
    }

    /* homepage */
    #recent-news {
        height: 1300px;
    }
    .card-left, .card-middle, .card-right {
        width: 100%;
        display: flex;
        margin-top: 5%;
        height: 23%;
    }

    .card-middle {
        position: relative;
        top: 5%;
    }

    .card-img {
        width: 30%;
        height: 110%;
        position: relative;
        bottom: 0;
        float: left;
        display: block;
    }

    .news-container {
        padding: 70px 70px;
        position: relative;
        bottom: 0;
        float: right;
        display: block;
    }

    /* footer */
    #footer-bg {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 600px;
    }

    #footer-bg img {
        height: 100%;
        width: 100%;
        padding: 20px 0 0 0;
    }

    #footer-menu {
        font-size: 125%;
        letter-spacing: 2px;
        margin: 0;
        text-align: center;
        padding-top: 15%;
        padding-left: 9%;
    }

    #footer-menu h3{
        font-size: 65%;
    }

    /* about us */
    .review-card-left, .review-card-middle, .review-card-right {
        height: 350px;
    }

    /* contact us */
    
    .form-wrapper {
        width: 100%;
        float: left;
        height: 550px;
        margin-bottom: 5%;
    }

    .information-wrapper {
        margin: 5% 0;
        text-align: left;
        float: left;
        height: 300px;
    }

    #contact {
        height: 1000px;
    }
    
    #gallery-section {
        display: flex;
        flex-direction: column;
        height: 2500px;
    }

    .photos {
        column-count: 3;
    }

    /* form submission */
    .form-submited-text-wrapped h1 {
        font-size: 160%;
    }

    .form-submited-text-wrapped h3 {
        font-size: 80%;
    }

    .back-btn {
        font-size: 135%;
    }

    /* 404 page */
    #error-section {
        height: 500px;
    }

    #oh-no {
        font-size: 4em;
    }

    #error-s-text {
        padding-right: 6em;
        font-size: 1.5em;
    }
}

/* for small screen sizes from 800px wide and down */
@media screen and (max-width: 800px) {
    /* footer */
    .hide {
        display: none;
    }

    #footer-bg img {
        padding: 10% 0;
    }

    #footer-menu {
        width: 75%;
        margin-right: 9%;
        font-size: 180%;
        letter-spacing: 2px;
        padding-left: 0;
        padding-top: 20%;
    }

    /* our menu page */
    #our-pizza-menu {
        height: 1400px;
    }

    .menu-left {
        width: 100%;
    }

    .menu-right {
        float: left;
        width: 100%;
        margin-top: 10%;
    }

    #our-bbq-menu {
        height: 1400px; 
    }

    /* about us */
    #welcome {
        height: 900px;
    }

    .info-left {
        width: 100%;
        height: 380px;
    }
    .info-right > img {
        height: auto;
    }

    .info-right {
        float: left;
        width: 60%;
        text-align: left;
    }

    .review-card-left, .review-card-middle, .review-card-right {
        height: 400px;
    }

    #gallery-section {
        height: 2200px;
    }

    /* form submission page */
    .form-submited-text-wrapped {
        width: 65%;
    }

    /* 404 page */

    #error-section {
        height: 450px;
    }

    #oh-no {
        font-size: 3.5em;
    }

    #error-s-text {
        padding-right: 3em;
        font-size: 1.5em;
    }

    .start-over-btn {
        font-size: 175%;
    }
}

@media screen and (max-width: 650px) {
    /* header */
    #menu {
        font-size: 100%;
        line-height: 70px;
    }
        /* 404 page */

        #error-section {
            height: 350px;
        }
    
        #oh-no {
            font-size: 2.5em;
        }
    
        #error-s-text {
            padding-right: 10em;
            font-size: 1em;
        }
    
        .start-over-btn {
            font-size: 125%;
        }
}

/* for small screen sizes from 600px wide and down */
@media screen and (max-width: 600px) {
    /* header */
    #head-bg {
        text-align: center;
        padding-top: 5%;
        top: 0;
    }

    #head-bg img {
        padding: 20px;
        height: auto;
        width: 25%;
        float: left;
    }

    #menu{
        display: none;
    }
    /* nav for smaller screens */

    #nav-img {
        padding: 35px 0 0 35px !important;
        height: auto;
        width: 25%;
        float: left;
    }

    #smaller-nav {
        display: block;
    }

    #menuToggle
    {
      display: block;
      position: relative;
      top: 50px;
      right: 50px;
      float: right;
      z-index: 1;
      -webkit-user-select: none;
      user-select: none;
    }
    
    #menuToggle a
    {
      text-decoration: none;
      color: #D8CB97;
    }
    
    #menuToggle input
    {
      display: block;
      width: 50px;
      height: 40px;
      position: absolute;
      top: -4px;
      right: 0px;
      cursor: pointer;
      
      opacity: 0; /* hide this */
      z-index: 2; /* and place it over the hamburger */
      
      -webkit-touch-callout: none;
    }
    
    /*
     * Just a quick hamburger
     */
    #menuToggle span
    {
      display: block;
      display: block;
      width: 50px;
      height: 5px;
      margin-bottom: 9px;
      position: relative;
      
      background: #D8CB97;
      border-radius: 3px;
      
      z-index: 1;
      
      transform-origin: 4px 0px;
      
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;
    }
    
    #menuToggle span:first-child
    {
      transform-origin: 0% 0%;
    }
    
    #menuToggle span:nth-last-child(2)
    {
      transform-origin: 0% 100%;
    }
    
    /* 
     * Transform all the slices of hamburger
     * into a crossmark.
     */
    #menuToggle input:checked ~ span
    {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: #D8CB97;
    }
    
    /*
     * But let's hide the middle one.
     */
    #menuToggle input:checked ~ span:nth-last-child(3)
    {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    
    /*
     * Ohyeah and the last one should go the other direction
     */
    #menuToggle input:checked ~ span:nth-last-child(2)
    {
      transform: rotate(-45deg) translate(0, -1px);
    }
    
    /*
     * Make this absolute positioned
     * at the top left of the screen
     */
    #small-menu
    {
        top: 150rem;
        position: fixed;
        background: #373737;
        width: 100%;
        height: 100%;
        transition: top .8s cubic-bezier(1, 0, 0, 1);  
        background: #1F1E20;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        right: 0;        
    }
    
    #small-menu li
    {
        padding: 10px;
        font-size: 3em;
        position: relative;
        top: 5em;
    }
    
    /*
     * And let's slide it in from the left
     */
    #menuToggle input:checked ~ ul
    {
        top: 0rem;
        display: flex;
        flex-direction: column;
    }

    /* index page */
    #hero-outer {
        top: 100px;
    }
    #cover-text { 
        display: none;
    }

    #recent-news {
        position: relative;
        top: 100px;
    }

    .card-img {
        width: 50%;
    }

    .news-container {
        padding: 50px 50px;
    }

    .card-middle {
        top: 3%;
    }

    #news {
        margin: 30px 0 0 0;
        font-size: 2em;
    }

    .card-wrapper {
        display: flex;
        flex-direction: column;
    }

    #contact-us {
        position: relative;
        top: 100px;
    }

    #footer-bg {
        margin-top: 100px;
    }
    /* our menu */
    #our-pizza-menu{
        height: auto;
        position: relative;
        top: 175px;
    }

    #our-bbq-menu  {
        height: auto;
        position: relative;
        top: 125px;
    }
    

    /* about us */
    .info-left {
        height: 450px;
    }

    #reviews {
        height: 1000px;
        position: relative;
        top: 75px;
    }

    .review-card-left, .review-card-middle, .review-card-right {
        width: 100%;
        height: 25%;
        margin-bottom: 5%;
    }

    .info-right {
        width: 100%;
    }

    .info-right > img {
        width: 100%;
    }

    #welcome {
        height: 130vh;
        position: relative;
        top: 175px;
    }

    #reviews p {
        text-align: center;
    }

    /* contact us */
    #contact {
        position: relative;
        top: 175px;
    }
    #gallery-section {
        height: 3500px;
        position: relative;
        top: 125px;
    }

    .photos {
        column-count: 2;
    }

    /* form submission page */
    .form-submited-text-wrapped {
        width: 90%;
    }  

    /* 404 page */

    #error-section {
        height: 600px;
        position: relative;
        top: 6em;
    }

    .error-wrapped {
        display: flex;
        flex-direction: column;
    }

    .error-left {
        width: 100%;
        height: auto;
        text-align: center;
    }

    .error-right {
        float: right;
        width: 100%;
        height: auto;
        padding-top: 0;
    }

    #oh-no {
        font-size: 2.5em;
    }

    #error-s-text {
        font-size: 1em;
    }

    .start-over-btn {
        font-size: 125%;
    }
}

/* for small screen sizes from 500px wide and down */
@media screen and (max-width: 500px) {
    /* header */
    #menu {
        font-size: 120%;
    }

    
    /* hamburger menu */
    #menuToggle {
        top: 33px;
    }

    #small-menu li {
        padding: 15px;
        font-size: 2.3em;
        top: 5em;
    }

    /* index page */
    #hero-outer {
        top: 125px;
    }

    #recent-news {
        top: 150px;
        height: 1200px;
    }
    #cover-text {
        right: 50px;
    }

    .news-container {
        padding: 25px 25px;
    }

    #middle-h1 {
        padding-bottom: 5%;
    }
    /* contact us section (on most pages)*/
    #contact-us {
        height: 280px;
    }

    #contact-us h1 {
        font-size: 150%;
    }

    #contact-us h2 {
        padding-top: 10px;
        font-size: 115%;
    }

    .contact-us-btn {
        font-size: 150%;
    }

    /* our menu */
    #our-bbq-menu, #our-pizza-menu {
        height: 1150px;
    }

    /* about us */
    .info-left {
        height: 530px;
    }

    #gallery-section {
        height: 2900px;
    }  
}

/* for the smallest screen sizes from 450px wide and down */
@media screen and (max-width: 450px) {
    /* header */
    #menu {
        font-size: 100%;
    }

    /* index page */
    #cover-text {
        right: 0;
        width: 100%;
    }

    #recent-news {
        height: 1000px;
    }

    .card-left, .card-middle, .card-right {
        height: 20%;
    }

    .card-middle {
        top: 2%;
    }

    .card-a h1 {
        font-size: 110%;
    }

    .card-a p {
        font-size: 100%;
    }

    /* contact us section (on most pages)*/
    #contact-us {
        height: 240px;
    }

    #contact-us h1 {
        font-size: 125%;
    }

    #contact-us h2 {
        padding-top: 5px;
        font-size: 100%;
        padding-bottom: 5px;
    }

    .contact-us-btn {
        font-size: 125%;
    }

    /* footer */
    #footer-bg img {
        height: 60%;
        padding-top: 10%;
        padding-bottom: 2%;
    }

    #footer-menu {
        font-size: 150%;
        padding-top: 0%;
    }

    #footer-bg {
        height: 500px;
    }

    /* our menu */
    .menu-left {
        padding-bottom: 15%;
    }

    /* about us */

    #welcome {
        height: 890px;
    }

    .info-left p {
        text-align: left;
    }

    /* contact us */
    #contact {
        height: 800px;
    }

    .form-wrapper {
        height: 450px;
    }

    #gallery-section {
        height: 2400px;
    }

    /* form submission page */
    .form-submited-text-wrapped h1 {
        font-size: 135%;
    }

    .form-submited-text-wrapped h3 {
        font-size: 65%;
    }

    .back-btn {
        font-size: 100%;
    }

}

@media screen and (max-width: 400px) {
    /* header */

    /* hamburger menu */

    #menuToggle {
        top: 20px;
    }

    #menuToggle span {
        width: 44px;
        height: 4px;
    }

    /* about us  */
    #welcome {
        height: 1175px;
    }

    .info-right {
        padding-top: 50px;
    }

}

@media screen and (max-width: 350px) {
/* index page */
    #recent-news {
        height: 900px;
    }

    /* our menu */
    .menu-right {
        margin-top: 30%;
    }

    #our-bbq-menu {
        height: 1125px;
    }

    /* contact us */
    #gallery-section {
        height: 2200px;
        top: 200px;
    }

    /* about us */
    #welcome {
        height: 1200px;
    }

    .info-right {
        padding-top: 150px;
    }

    #reviews {
        height: 900px;
    }

    /* form submission page */
    .form-submited-text-wrapped h1 {
        font-size: 110%;
    }

    .form-submited-text-wrapped h3 {
        font-size: 55%;
    }

    .back-btn {
        font-size: 90%;
    }

}